<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDmF2B7usmPbNRsrdcZJS9YKVJH3AILtMA</string>
	<key>GCM_SENDER_ID</key>
	<string>742288074839</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.purveeagrawal.canteen</string>
	<key>PROJECT_ID</key>
	<string>canteen-management-1aa76</string>
	<key>STORAGE_BUCKET</key>
	<string>canteen-management-1aa76.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:742288074839:ios:676cbdab4438d84cc75b12</string>
</dict>
</plist>